page-transdetail-chat {
    .custom-navbar{
        background: #ffffff;
        padding: 20px 20px 20px 20px;
        .back{
            color:#5a7f8e;
            font-size: 13.5px;
        }
        h4.title{
            font-size: 18px;
            color:#5a7f8e;
        }
    }

    

    .chat-window{
        background:#f7f9fa;
        .date-stamp{
            font-size: 12px;
            color: #828789;
            text-align: center;
            position: relative;
            top: auto;
            width: inherit;
            margin: 0;
            display: block;
        }
    }


    .chat-bar-container{
        position: fixed;
        bottom: 0px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 5px;
        margin: 0;
        left: 0;
        textarea{
            width:80%;
        }
        button{
            width:48px;
            height:48px;
            border-radius: 100%;
            margin:10px;
        }
    }

}
