<!--
  Generated template for the LocationPickerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <div class="custom-navbar">
    <div class="flex-row">
      <button class="back" navPop>
        <</button>
          <h4 class="title">Pick a location</h4>
    </div>
    <h6 class="subtitle"> tell us where your business is located</h6>
  </div>

</ion-header>


<ion-content padding>
  <ngui-map [center]="center" [fullscreenControl]="false" [disableDefaultUI]="true" #mapComponent >
    <custom-marker [position]="center">
      <div>
        <b *ngIf="address">{{address.name}}</b>
        <img src="assets/imgs/map_marker.png" width="30px;" height="50px;" />
      </div>
    </custom-marker>
  </ngui-map>

  <!-- address search bar -->
  <div class="address-search-box">
    <input type="text" #autoCompleteForm places-auto-complete (place_changed)="placeChanged($event)" [location]="" [bounds]="autoCompleteBounds" (input)="checkIfnotEmpty($event)" [types]="['establishment']"  placeholder="Enter business location"
    />
  </div>

  <div class="continue-button" *ngIf="canContinue">
    <button class="continue" (click)="confirm()">continue</button>
  </div>

</ion-content>