page-send-location {
      .custom-navbar{
        background: #ffffff;
        padding: 20px 20px 20px 20px;
        .back{
            color:#5a7f8e;
            font-size: 20.5px;
            margin-top: 5px;
        }

        div.search-bar{
            width: 100%;
            text-align: center;
            input{
                width:281px;
                height:50px;
                border-radius: 20px;
                border:1px solid #5a7f8e;
                padding:20px 8px;
                color:black; 
            }
        }
    }
}
