<!--
  Generated template for the SelectPhotosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <div class="custom-navbar">
    <div class="flex-row">
      <button class="back" navPop>
        <</button>
          <h4 class="title">Add photos</h4>
    </div>
    
  </div>

</ion-header>


<ion-content padding>
  
  <div *ngFor="let img of images; let i = index">
        
        <h6 class="date-stamp" *ngIf="shouldAddStamp(img,i)">

        {{ img.creationDate |  amParse:'DD/MM/YYYY' | amDateFormat:'LL'}}
      </h6>
      <br *ngIf="shouldAddStamp(img,i)">
    
      <img class="thumbnail" [src]="img.thumbnailURL" width="100px;"/>
    
  </div>  
 
  
</ion-content>
