<!--
  Generated template for the SelectPhotosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <div class="custom-navbar">
    <div class="flex-row">
      <button class="back" navPop>
        <</button>
          <h4 class="title">Add photos</h4>
    </div>
    
  </div>

</ion-header>


<ion-content padding>
  
  <div class="vertical-align" *ngIf="isLoading">
    <div class="center-align">
    <ion-spinner></ion-spinner>
    </div>
  </div>

  <ion-list *ngFor="let img of images; let i = index">
        
        <h6 class="date-stamp" *ngIf="shouldAddStamp(img,i)">

        {{ img.creationDate |  amParse:'DD/MM/YYYY' | amDateFormat:'LL'}}
      </h6>
      <br *ngIf="shouldAddStamp(img,i)">
    
      <div class="thumbnail">
        <div class="overlay" *ngIf="img.selected"  (tap)="unselect(img.index)">
            <img class="check-mark" src="assets/imgs/icn_check_mark_white.png"/>
        </div>
      <img class="image" [src]="img.thumbnailURL" (tap)="select(img.index)"/>
      </div>  
    
    </ion-list>  

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div class="continue-button" *ngIf="listNotEmpty">
      <button class="continue" (tap)="getPhotos()">Done</button>
  </div>
 
  
</ion-content>
