page-image-preview {
    .custom-navbar{
        background: #ffffff;
        padding: 20px 20px 20px 20px;
        box-shadow: none;
        .back{
            color:#5a7f8e;
            font-size: 30.5px;
            margin-top: 5px;
            margin-left:-30px;

        }
        h4.title{
            font-size: 18px;
            color:#5a7f8e;
            
        }
    }
}
